.git
.github

.venv
.env
.env.production

__pycache__
*.py[cod]

.pytest_cache
.mypy_cache
.ruff_cache

.coverage
coverage.xml
htmlcov

media
staticfiles

docs
tests
apps/**/tests

docker-compose.yml
docker-compose.production.yml

Makefile